/.DS_Store
/R1_paired.fastqsanger
/R1_unpaired.fastqsanger
/chry5_S14_L001_R1_001.fastq
/corrected_output.fastq
/kmer_error.c
/kmer_error.kt
/output_text
/output_text_occurences
/test.txt_k12.fastq
/test.txt_report.txt
/test1000.txt_k12.fastq
/test1000.txt_report.txt
/test10000.txt_k12.fastq
/test2.txt_k12.fastq
/test2.txt_report.txt
/test3000.txt_k12.fastq
/test3000.txt_report.txt
/test3000_1.txt_k12.fastq
/test3000_1.txt_report.txt
/test3000_2.txt_k12.fastq
/test3000_2.txt_report.txt
/test3000_4.txt_k12.fastq
/test3000_4.txt_report.txt
/test3000_5.txt_k12.fastq
/test3000_5.txt_report.txt
/test3000_6.txt_k12.fastq
/test3000_6.txt_report.txt
/test3000_7.txt_k12.fastq
/test3000_7.txt_report.txt
/*.fastq
/*.fastq.gz
/*.fastqsanger
/*.txt